<html>
    <head>
	<style type="text/css">
	  body { background-color:white; color:black; font-family:Arial,Helvetica; }
	  h1 { font-size:30px; }
	  p  {	font-size:12px; }
	</style>
    </head>	
	<body>
	      <div style="width:100%;text-align:center;margin-top:80px">
	           <img src="http://www.ecmanaged.com/img/ecmdroid/ecmdroid_large.png">
                   <h1>It works!</h1>                       
                   <p>This is the default web page for this server.</p>
                   <p>The web server software is running but no content has been added, yet.</p>
             </div>
        </body>
</html>
